<h1>Welcome to Movie database</h1>

<form action="/results" method="GET">
    <!-- <label for="search">Search Movie</label> -->
    <input id="search" name="search" type="text" placeholder="Search movie" />
    <button>Submit</button>
</form>